extends layout
block content
	div(class="bg-primary", id="header")
		h3 Some Colleges
	div(class="table-responsive-lg", id="clgtable")
		p college 1
		hr
		p college 2
		hr
		p college 3
		hr
		p college 4
		hr
		p college 5
		
